<ion-header>
    <ion-toolbar>
        <ion-title>
            TripPlanner
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar>
            <ion-title size="small">Home to Solemn Travel</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container" *ngIf="mydetails">
        <div *ngIf="mydetails.role == 'admin' || mydetails.role == 'Holding Company'">
            <strong>Customize own Trip? Select</strong><br><br>
            <ion-chip routerLink="/create-trip" color="secondary">Create Own Trips</ion-chip><br><br>
            <ion-chip routerLink="/my-trips" color="secondary">View My Trips</ion-chip><br><br>
        </div>
        <div *ngIf="mydetails.role == 'admin' || mydetails.role == 'Customer'">
            <strong>View Trips? Select</strong><br><br>
            <ion-chip routerLink="/featured-trips" color="primary">Featured Trips</ion-chip>
            <ion-chip routerLink="/booked-trips" color="primary">Booked Trips</ion-chip>
        </div>
    </div>
    <ion-fab class="bigger" (click)="signout()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-chip color="danger" class="marginer">
            <ion-text style="color:#ffffff;" class="trysmall">Logout</ion-text>
            <ion-icon style="color:#ffffff;" class="trysmall2" name="log-out"></ion-icon>
        </ion-chip>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-fab>
</ion-content>