<ion-header>
    <ion-toolbar>
        <ion-title>
            TripPlanner
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar>
            <ion-title size="small">Home to Solemn Travel</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong>Customize own Trip? Select</strong><br><br>
        <ion-chip routerLink="/create-trip" color="secondary">Create Own Trips</ion-chip><br><br>
        <ion-chip routerLink="/my-trips" color="secondary">View My Trips</ion-chip><br><br>
        <strong>View Trips? Select</strong><br><br>
        <ion-chip routerLink="/featured-trips" color="primary">Featured Trips</ion-chip>
        <ion-chip routerLink="/booked-trips" color="primary">Booked Trips</ion-chip>
    </div>
</ion-content>