#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

ion-header {
    text-align: center;
}

ion-chip {
    font-size: 25px;
    padding: 25px;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 25px;
}

.bigger {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 130px;
    border-radius: 50px;
    outline: none;
    background-color: #ed576b;
    text-align: center;
    -webkit-box-shadow: 2px 0px 34px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 0px 34px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 0px 34px -13px rgba(0, 0, 0, 0.75);
}

.maginer {
    width: 100%;
}

.trysmall {
    font-size: 22px;
}

.trysmall2 {
    font-size: 29px;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}