<ion-header>
    <ion-toolbar>
        <ion-title class="absoluter">Featured Trips</ion-title>
        <ion-back-button color="primary" class="goleft shadow" routerLink="/selector">
        </ion-back-button>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-content *ngIf="!trips && !zero" fullscreen>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </ion-content>
    <ion-content *ngIf="trips && !zero" fullscreen>
        <ion-grid *ngFor="let trip of trips | async; let i = index;">
            <ion-card *ngIf="!(trip.planner.userid == uid)">
                <ion-card-header class="bgimage" [ngStyle]="
                    {
                        'background-image': 'url('+trip.imageURL+')'
                    }
                "></ion-card-header>
                <ion-card-header>
                    <ion-card-subtitle>Destination</ion-card-subtitle>
                    <ion-card-title class="bigger">
                        <ion-chip class="boo" tappable *ngIf="trip.open" (click)="trip.open = !trip.open">
                            <ion-icon class="woot" tappable name="caret-up-outline"></ion-icon>
                        </ion-chip>
                        <ion-chip class="boo" tappable *ngIf="!trip.open" (click)="trip.open = !trip.open">
                            <ion-icon class="woot" tappable name="caret-down-outline"></ion-icon>
                        </ion-chip>
                        {{trip.name}}
                        <ion-item *ngIf="!trip.open" class="ion-no-padding ion-no-margin" style="font-size: 20px !important;" lines="none" expand="block">
                            <ion-label>{{trip.overview}}</ion-label>
                        </ion-item>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content *ngIf="trip.open">
                    <ion-chip color="primary" class="goright" (click)="viewmap(trip)">
                        <ion-icon color="secondary" name="location-outline" class="ion-no-margin"></ion-icon>
                    </ion-chip>
                    <strong>Overview:</strong><br> {{trip.overview}}<br>
                    <strong>Price per slot:</strong> {{trip.price}}/=<br>
                    <strong>Tips:</strong><br>
                    <div *ngFor="let desc of trip.descriptions; let i = index">
                        <ion-row>
                            <ion-text>{{i+1}}. {{desc}}</ion-text>
                        </ion-row>
                    </div>
                    <div *ngIf="remtime(trip.startdate) | async as time">
                        <div *ngIf="remtime(trip.enddate) | async as time2">
                            <ion-row>
                                <ion-col size="4">
                                    <strong>Starting Time:</strong>
                                </ion-col>
                                <ion-col size="8">
                                    <strong>
                                        <ion-text>{{timez(trip.startdate) | async}}</ion-text>
                                    </strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="4">
                                    <strong>Ending Time:</strong>
                                </ion-col>
                                <ion-col size="8">
                                    <strong>
                                        <ion-text>{{timez(trip.enddate) | async}}</ion-text>
                                    </strong>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="time != 'EXPIRED' && time2 != 'EXPIRED'">
                                <ion-col size="4">
                                    <strong>Occurring in:</strong>
                                </ion-col>
                                <ion-col size="8">
                                    <strong><ion-text color="success">{{time}}</ion-text></strong>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="time == 'EXPIRED' && time2 == 'EXPIRED'">
                                <ion-col size="4">
                                    <strong>Status:</strong>
                                </ion-col>
                                <ion-col size="8">
                                    <strong>
                                        <ion-text color="danger">{{time}}</ion-text>
                                    </strong>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="time == 'EXPIRED' && time2 != 'EXPIRED'">
                                <ion-col size="4">
                                    <strong>Status:</strong>
                                </ion-col>
                                <ion-col size="8">
                                    <strong>
                                        <ion-text color="success">In Progress...</ion-text>
                                    </strong>
                                </ion-col>
                            </ion-row>
                            <div *ngIf="trip.bookedusers">
                                <ion-row class="miami" *ngFor="let user of trip.bookedusers">
                                    <div *ngIf="uid == user.user">
                                        <ion-chip>
                                            <ion-avatar>
                                                <img src="{{trip.imageURL}}">
                                            </ion-avatar>
                                            <ion-label>{{user.username}} | Slots: {{user.slots}}</ion-label>
                                            <!-- <ion-icon name="close-circle"></ion-icon> -->
                                        </ion-chip>
                                    </div>
                                </ion-row>
                            </div>
                            <ion-button *ngIf="time != 'EXPIRED' && !(trip.availableslots<=0)" (click)="presentPrompt(trip)" expand="block">Book
                                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                            </ion-button>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-grid>
    </ion-content>
    <ion-content *ngIf="zero" fullscreen>
        <div id="container">
            <strong>There are no featured trips <b class="adding">☹</b></strong>
        </div>
    </ion-content>
</ion-content>