<ion-header>
    <ion-toolbar>
        <ion-title class="absoluter">Featured Trips</ion-title>
        <ion-back-button color="primary" class="goleft shadow" routerLink="/selector">
        </ion-back-button>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-content *ngIf="!trips && !zero" fullscreen>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </ion-content>
    <ion-content *ngIf="trips && !zero" fullscreen>
        <ion-grid *ngFor="let trip of trips | async; let i = index;">
            <ion-card *ngIf="!(trip.planner.userid == uid)">
                <ion-card-header class="bgimage" [ngStyle]="
                    {
                        'background-image': 'url('+trip.imageURL+')'
                    }
                "></ion-card-header>
                <ion-card-header>
                    <ion-card-subtitle>Destination</ion-card-subtitle>
                    <ion-card-title class="bigger">
                        <ion-chip class="boo" tappable *ngIf="trip.open" (click)="trip.open = !trip.open">
                            <ion-icon class="woot" tappable name="caret-up-outline"></ion-icon>
                        </ion-chip>
                        <ion-chip class="boo" tappable *ngIf="!trip.open" (click)="trip.open = !trip.open">
                            <ion-icon class="woot" tappable name="caret-down-outline"></ion-icon>
                        </ion-chip>
                        {{trip.name}}
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content *ngIf="trip.open">
                    {{trip.overview}}
                    <br>
                    <div *ngIf="remtime(trip.startdate) | async as time">
                        <div *ngIf="time == 'EXPIRED'">
                            <strong>Remaining Time:
                                <ion-text color="danger">{{time}}</ion-text>
                            </strong>
                        </div>
                        <div *ngIf="time != 'EXPIRED'">
                            <strong>Remaining Time:
                                <ion-text color="success">{{time}}</ion-text>
                            </strong>
                        </div>
                    </div>
                    <ion-button (click)="presentPrompt(trip)" expand="block">Book
                        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-grid>
    </ion-content>
    <ion-content *ngIf="zero" fullscreen>
        <div id="container">
            <strong>There are no featured trips <b class="adding">☹</b></strong>
        </div>
    </ion-content>
</ion-content>