.goleft {
    float: left;
    margin-left: 5px;
}

.absoluter {
    position: absolute;
    display: block;
    margin: auto;
    width: 100%;
    padding-top: 10px;
}

ion-back-button {
    z-index: 100;
}

.ion-grid {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 5vh;
    padding-bottom: auto;
}

.ion-grid2 {
    border: 1px inset #3dc2ff;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5%;
}

#blah {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75px;
}

h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.2;
}

ion-toolbar {
    text-align: center;
}

ionic-chip {
    height: 40px;
    position: absolute;
    border-radius: 20px;
}

ion-button {
    margin-top: 15px;
    border-radius: 50%;
}

ion-label {
    font-size: 20px;
}

.whole {
    text-align: center;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: auto;
    margin-right: auto;
}

.my-custom-class {
    --background: #222;
    --spinner-color: #92d9fa;
    color: #7ad0f8;
}

#map {
    height: 100%;
}