<ion-header>
    <ion-toolbar>
        <ion-title class="absoluter">Trip Planner</ion-title>
        <ion-back-button color="secondary" class="goleft shadow" routerLink="/selector">
        </ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="ion-grid">
        <ion-grid class="ion-grid2">
            <h3>Create Trip</h3>
            <ion-list>
                <ion-item lines="full">
                    <ion-label position="floating">File</ion-label>
                    <ion-input type="file" spellcheck="true" pattern="file"></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-label position="floating">Trip Name</ion-label>
                    <ion-input type="text" spellcheck="true" pattern="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Start Date</ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY" min="{{nextday}}" value="{{nextday}}" max="{{dt.getFullYear()+1}}"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>Start Time</ion-label>
                    <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="{{myDate}}"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>End Date</ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY" min="{{nextday}}" value="{{nextday}}" max="{{dt.getFullYear()+1}}"></ion-datetime>
                </ion-item>
                <ion-item lines="full">
                    <ion-label position="floating">
                        <ion-icon name="pin"></ion-icon>
                        Location
                    </ion-label>
                    <ion-input type="text" spellcheck="true" pattern="tel"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Description</ion-label>
                    <ion-icon color="warning" name="add-circle-outline" slot="end"></ion-icon>
                </ion-item>
            </ion-list>
            <ion-button (click)="presentLoading()" type="submit" color="secondary" expand="block">
                Create Trip
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-button>
        </ion-grid>
    </ion-grid>
</ion-content>