<ion-header>
    <ion-toolbar>
        <ion-title class="absoluter">Trip Planner</ion-title>
        <ion-back-button color="secondary" class="goleft shadow" routerLink="/login">
        </ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form [formGroup]="registerForm" (ngSubmit)="presentLoading()">
        <ion-grid class="ion-grid">
            <ion-grid class="ion-grid2">
                <h3>Registration</h3>
                <ion-list>
                    <ion-item lines="full">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input formControlName="email" type="email" [(ngModel)]="user.email" spellcheck="true"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label position="stacked">Join as</ion-label>
                        <ion-select formControlName="role" [(ngModel)]="user.role" placeholder="Select role">
                            <ion-select-option value="Holding Company">Holding Company</ion-select-option>
                            <ion-select-option value="Customer">Customer</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item lines="full" *ngIf="user.role == 'Holding Company'">
                        <ion-label position="floating">Company Name</ion-label>
                        <ion-input formControlName="companyname" [(ngModel)]="user.companyname" type="text" spellcheck="true"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="user.role == 'Customer'">
                        <ion-col size="6">
                            <ion-item lines="full">
                                <ion-label position="floating">First Name</ion-label>
                                <ion-input formControlName="firstname" [(ngModel)]="user.firstname" type="text" spellcheck="true"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6">
                            <ion-item lines="full">
                                <ion-label position="floating">Last Name</ion-label>
                                <ion-input formControlName="lastname" [(ngModel)]="user.lastname" type="text" spellcheck="true"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item lines="full">
                        <ion-label position="floating">Username</ion-label>
                        <ion-input formControlName="username" [(ngModel)]="user.username" type="text" spellcheck="true"></ion-input>
                    </ion-item>
                    <ion-row *ngIf="user.role == 'Customer'">
                        <ion-col size="6">
                            <ion-item lines="full">
                                <ion-label position="stacked">Gender</ion-label>
                                <ion-select formControlName="gender" [(ngModel)]="user.gender" placeholder="Select Gender">
                                    <ion-select-option value="Female">Female</ion-select-option>
                                    <ion-select-option value="Male">Male</ion-select-option>
                                    <ion-select-option value="Other">Other</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6">
                            <ion-item lines="full">
                                <ion-label position="floating">D.O.B</ion-label>
                                <ion-datetime formControlName="dob" [(ngModel)]="user.dob" displayFormat="DD/MM/YYYY" min="{{faryear}}" max="{{nextyear}}" value="{{nextyear}}"></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item lines="full">
                        <ion-label position="stacked">Country</ion-label>
                        <ion-select formControlName="country" [(ngModel)]="user.country" placeholder="Select Country">
                            <ion-select-option value="+254">Kenya</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label position="floating">Phone Number</ion-label>
                        <ion-input formControlName="phonenumber" placeholder="eg.712602807" [(ngModel)]="user.phonenumber" type="tel" spellcheck="true"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label position="floating" spellcheck="true" pattern="password">Password</ion-label>
                        <ion-input formControlName="password" [(ngModel)]="password" type="password"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label position="floating" spellcheck="true" pattern="password">Confirm Password</ion-label>
                        <ion-input formControlName="cpassword" [(ngModel)]="cpassword" type="password"></ion-input>
                    </ion-item>
                </ion-list>
                <!-- [disabled]="!registerForm.valid" -->
                <ion-button mode="ios" type="submit" color="secondary" expand="block">
                    Sign In
                    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                </ion-button>
            </ion-grid>
        </ion-grid>
    </form>
</ion-content>