<ion-header>
    <ion-toolbar>
        <ion-title>
            TripPlanner
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar>
            <ion-title size="small">Home to Solemn Travel</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong>New Customer? Register Here</strong><br><br>
        <ion-chip routerLink="/register" color="secondary">Register</ion-chip><br><br>
        <strong>Already have an account?</strong><br><br>
        <ion-chip class="now" routerLink="/login" color="primary">Login</ion-chip>
    </div>
</ion-content>