<ion-header>
    <ion-toolbar>
        <ion-title class="absoluter">Booked Trips</ion-title>
        <ion-back-button color="primary" class="goleft shadow" routerLink="/selector">
        </ion-back-button>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-content *ngIf="!trips" fullscreen>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </ion-content>
    <ion-content *ngIf="trips && !zero" fullscreen>
        <ion-grid *ngFor="let trip of trips | async; let i = index;">
            <div *ngIf="trip.bookedusers">
                <ion-card *ngIf="!(trip.planner.userid == uid) && doesinclude(trip.bookedusers)">
                    <ion-card-header class="bgimage" [ngStyle]="
                        {
                            'background-image': 'url('+trip.imageURL+')'
                        }
                    "></ion-card-header>
                    <ion-card-header>
                        <ion-card-subtitle>Destination</ion-card-subtitle>
                        <ion-card-title class="bigger">
                            <ion-chip class="boo" tappable *ngIf="trip.open" (click)="trip.open = !trip.open">
                                <ion-icon class="woot" tappable name="caret-up-outline"></ion-icon>
                            </ion-chip>
                            <ion-chip class="boo" tappable *ngIf="!trip.open" (click)="trip.open = !trip.open">
                                <ion-icon class="woot" tappable name="caret-down-outline"></ion-icon>
                            </ion-chip>
                            {{trip.name}}
                            <ion-item *ngIf="!trip.open" class="ion-no-padding ion-no-margin" style="font-size: 20px !important;" lines="none" expand="block">
                                <ion-label>{{trip.overview}}</ion-label>
                            </ion-item>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content *ngIf="trip.open">
                        <ion-chip color="primary" class="goright" (click)="viewmap(trip)">
                            <ion-icon color="secondary" name="location-outline" class="ion-no-margin"></ion-icon>
                        </ion-chip>
                        <strong>Overview:</strong><br> {{trip.overview}}<br>
                        <strong>Price per slot:</strong> {{trip.price}}/=<br>
                        <strong>Tips:</strong><br>
                        <div *ngFor="let desc of trip.descriptions; let i = index">
                            <ion-row>
                                <ion-text>{{i+1}}. {{desc}}</ion-text>
                            </ion-row>
                        </div>
                        <div *ngIf="remtime(trip.startdate) | async as time">
                            <div *ngIf="remtime(trip.enddate) | async as time2">
                                <ion-row>
                                    <ion-col size="4">
                                        <strong>Starting Time:</strong>
                                    </ion-col>
                                    <ion-col size="8">
                                        <strong>
                                            <ion-text>{{timez(trip.startdate) | async}}</ion-text>
                                        </strong>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="4">
                                        <strong>Ending Time:</strong>
                                    </ion-col>
                                    <ion-col size="8">
                                        <strong>
                                            <ion-text>{{timez(trip.enddate) | async}}</ion-text>
                                        </strong>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="time != 'EXPIRED' && time2 != 'EXPIRED'">
                                    <ion-col size="4">
                                        <strong>Occurring in:</strong>
                                    </ion-col>
                                    <ion-col size="8">
                                        <strong><ion-text color="success">{{time}}</ion-text></strong>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="time == 'EXPIRED' && time2 == 'EXPIRED'">
                                    <ion-col size="4">
                                        <strong>Status:</strong>
                                    </ion-col>
                                    <ion-col size="8">
                                        <strong>
                                            <ion-text color="danger">{{time}}</ion-text>
                                        </strong>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="time == 'EXPIRED' && time2 != 'EXPIRED'">
                                    <ion-col size="4">
                                        <strong>Status:</strong>
                                    </ion-col>
                                    <ion-col size="8">
                                        <strong>
                                            <ion-text color="success">In Progress...</ion-text>
                                        </strong>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                        <div *ngIf="trip.bookedusers">
                            <ion-row *ngFor="let user of trip.bookedusers">
                                <div class="miami" *ngIf="uid == user.user">
                                    <ion-chip>
                                        <ion-avatar>
                                            <img src="{{trip.imageURL}}">
                                        </ion-avatar>
                                        <ion-label>{{user.username}} | Slots: {{user.slots}}</ion-label>
                                        <!-- <ion-icon name="close-circle"></ion-icon> -->
                                    </ion-chip>
                                </div>
                                <ion-button class="width" (click)="delete(user, trip.id)" color="danger" expand="block">Cancel
                                    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                                </ion-button>
                            </ion-row>
                        </div>
                        <!-- <ion-button color="primary" expand="block">Edit Slots
                            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                        </ion-button> -->
                        <!-- <ion-button *ngIf="time != 'EXPIRED'" expand="block">Book
                            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                        </ion-button> -->
                    </ion-card-content>
                </ion-card>
            </div>
        </ion-grid>
    </ion-content>
    <ion-content *ngIf="zero" fullscreen>
        <div id="container">
            <strong>You haven't booked any trips.<br> 
                <a routerLink="/featured-trips">Book<br>
                    <svg class="adding" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>
            </strong>
        </div>
    </ion-content>
</ion-content>